strong{
    color: white !important;   
}

.centre{
    margin: auto;
    min-height: 300px;
    vertical-align: middle;
}   

.btn{
    border-radius: 0% !important;
    margin-left: 45% !important;
}

