<div class="col auth-body">
    <div class="row-md-2 text-centre">
        <img class="logo mx-auto d-block" src="../../assets/image.png">
    </div>

    <div class="row-md-10 form-container">
        <div class="reg-body formular">
                <div class="head-container d-flex">
                    <h2 class="text-center">Register</h2>
                    <h2 class="ml-auto text-center">Login</h2>
                </div><br>
            <app-register></app-register>
        </div>
    </div>
</div>