<div class="col auth-body">
    <div class="row-md-2 text-centre">
        <img class="logo mx-auto d-block" src="../../assets/image.png">
    </div>

    <div class="row-md-10 form-container">
        <div class="reg-body formular">
            <div class="head-container d-flex">
                <h2 [ngClass]="signUpStyle" (click)="toLogin()" class="text-center">Register</h2>
                <h2 [ngClass]="loginStyle" (click)="toRegister()" class="ml-auto text-center">Login</h2>
            </div><br>
            <app-register *ngIf='!signedIn'></app-register>
            <app-login *ngIf='signedIn'></app-login>
        </div>
    </div>
</div>