<script>
    $(function () {
    $('#datetimepicker1').datetimepicker();
  });
</script>
<div>
    <div class="col-md-10 centre">
        <div>
            <strong>First Name</strong>
            <input class="form-control">
        </div><br>

        <div>
            <strong>Last Name</strong>
            <input class="form-control">
        </div><br>

        <div>
            <strong>Username</strong>
            <input class="form-control">
        </div><br>

        <div>
            <strong>Birthday</strong>
            <input type="date" class="form-control">
        </div><br>

        <div>
            <strong>Email</strong>
            <input class="form-control">
        </div><br>

        <div>
            <strong>Password</strong>
            <input class="form-control">
        </div><br>

        <div>
            <strong>Repeat Password</strong>
            <input class="form-control">
        </div><br>
        
    </div>
</div>