<div>
    <div class="col-md-10 centre">
        <div>
            <strong>Prenume</strong>
            <input [(ngModel)]="firstName" class="form-control">
        </div><br>

        <div>
            <strong>Nume</strong>
            <input [(ngModel)]="lastName" class="form-control">
        </div><br>

        <div>
            <strong>Nume de utilizator</strong>
            <input [(ngModel)]="username" class="form-control">
        </div><br>

        <div>
            <strong>Zi de nastere</strong>
            <input [(ngModel)]="birthDay" type="date" class="form-control">
        </div><br>

        <div>
            <strong>Email</strong>
            <input [(ngModel)]="email" class="form-control">
        </div><br>

        <div>
            <strong>Parola</strong>
            <input [(ngModel)]="password" type="password" class="form-control">
        </div><br>

        <div>
            <strong>Repeta parola</strong>
            <input [(ngModel)]="repeatPassword" type="password" class="form-control">
        </div><br>
        
        <div class="row">
            <button (click)="register()" class="btn btn-lg btn-info">Inregistrare</button>
        </div>
    </div>
</div>